.page-bottom {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
}

.login-link {
	max-width: 147px;
	max-height: 15px;
	font-size: 13px;
}

.complete-btn {
	margin-top: auto;
	max-width: 154px;
	padding: 0 23px;
	height: 32px;
	background: #5A61ED;
	color: #fff;
	border: none;
}

.shake {
	animation: shake 0.5s;
}

@keyframes shake {
	0% {
		transform: translateX(0);
	}

	25% {
		transform: translateX(-5px);
	}

	50% {
		transform: translateX(5px);
	}

	75% {
		transform: translateX(-5px);
	}

	100% {
		transform: translateX(0);
	}
}