.container-thank-you {
	margin: auto auto auto 64px;
	align-self: center;
}

.container-thank-you__centered {
	margin-top: 10px;
	animation: expand 2s;
}

.sign-up-form .thank-you {
	font-size: 2.5vw;
}

.sign-up-form .success-registration {
	font-size: 2.5vw;

}